{% extends 'base.html' %}

{% block content %}

<div class="text-center">
    <h2>Update Details</h2>

</div>

<div class="jumbotron jumbotron-fluid">

    <form method="POST" class="post-form" action="/update/{{workhour.id}}" enctype="multipart/form-data">
        {% csrf_token %}

        <input name="id" type="hidden" value="{{workhour.id}}">
        <br>

        <div class="d-flex justify-content-center">
            <label class=" col-form-label">Workday name: </label>
            <input type="text" name="name" value="{{ workhour.name }}" />
        </div>
        <br>

        <div class="d-flex justify-content-center">
            <label class="col-form-label">Workhour code: </label>
            <div class="">
                <input type="text" name="code" value="{{ workhour.code }}" />
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <label class="col-form-label"></label>
            <div class="">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </div>


    </form>


</div>

{% endblock %}